<%
  function cleanAvatar(avatar_path) {
    if (!avatar_path) return '/img/user.png';

    if (avatar_path.startsWith('/http') || avatar_path.startsWith('/https')) {
      return avatar_path.substring(1);
    }

    if (avatar_path.startsWith('/')) {
      return 'https://image.tmdb.org/t/p/w45' + avatar_path;
    }

    return avatar_path;
  }

  const combinedComments = [...localReviews, ...apiReviews];
%>

<div class="col-12">
  <div class="comments">
    <ul class="comments__list">
      <% if (combinedComments.length === 0) { %>
        <li>No comments yet.</li>
      <% } else { %>
        <% combinedComments.forEach(comment => { %>
          <li class="comments__item">
            <div class="comments__autor">
              <img class="comments__avatar" src="<%= comment.user?.avatarUrl || cleanAvatar(comment.author_details?.avatar_path) || '/img/user.png' %>" alt="<%= comment.user?.name || comment.author || 'User' %>">
              <span class="comments__name"><%= comment.user?.name || comment.author || 'Anonymous' %></span>
              <span class="comments__time">
                <% 
                  let date = comment.createdAt || comment.created_at;
                  if(date) { 
                    date = new Date(date).toLocaleString();
                  } else {
                    date = 'Unknown date';
                  }
                %>
                <%= date %>
              </span>
            </div>
            <p class="comments__text"><%= comment.text || comment.content %></p>
            <div class="comments__actions">
              <div class="comments__rate">
                <button type="button"><i class="icon ion-md-thumbs-up"></i><%= comment.likes || comment.author_details?.rating || 0 %></button>
                <button type="button"><%= comment.dislikes || 0 %><i class="icon ion-md-thumbs-down"></i></button>
              </div>
              <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
              <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
            </div>
          </li>
        <% }) %>
      <% } %>
    </ul>

    <form action="#" class="form">
      <textarea id="text" name="text" class="form__textarea" placeholder="Add comment"></textarea>
      <button type="button" class="form__btn">Send</button>
    </form>
  </div>
</div>
