<% const combinedReviews = [...localReviews, ...apiReviews]; %>
<div class="col-12">
  <div class="reviews">
    <ul class="reviews__list">
      <% if (!combinedReviews || combinedReviews.length === 0) { %>
        <li>No reviews yet.</li>
      <% } else { %>
        <% combinedReviews.forEach(review => { %>
          <li class="reviews__item">
            <div class="reviews__autor">
              <img class="reviews__avatar" src="<%= review.user?.avatarUrl || (review.author_details?.avatar_path ? `https://image.tmdb.org/t/p/w45${review.author_details.avatar_path}` : '/img/user.png') %>" alt="<%= review.user?.name || review.author || 'Anonymous' %>">
              <span class="reviews__name"><%= review.title || (review.content ? review.content.substring(0, 30) + '...' : 'No Title') %></span>
              <span class="reviews__time">
                <%= new Date(review.createdAt || review.created_at).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %> by <%= review.user?.name || review.author || 'Anonymous' %>
              </span>
              <span class="reviews__rating">
                <i class="icon ion-ios-star"></i>
                <%= review.rating || review.author_details?.rating || 'N/A' %>
              </span>
            </div>
            <p class="reviews__text"><%= review.content || review.text || '' %></p>
          </li>
        <% }) %>
      <% } %>
    </ul>

    <!-- نموذج إضافة مراجعة -->
    <form action="#" class="form">
      <input type="text" name="title" class="form__input" placeholder="Title" />
      <textarea name="review" class="form__textarea" placeholder="Review"></textarea>
      <div class="form__slider">
        <div class="form__slider-rating" id="slider__rating"></div>
        <div class="form__slider-value" id="form__slider-value"></div>
      </div>
      <button type="button" class="form__btn">Send</button>
    </form>
  </div>
</div>
