<div class="col-12 col-lg-4 col-xl-4">
  <div class="row">
    <!-- section title -->
    <div class="col-12">
      <h2 class="section__title section__title--sidebar">You may also like...</h2>
    </div>
    <!-- end section title -->

    <% if (relatedMovies && relatedMovies.length > 0) { %>
      <% relatedMovies.forEach(movie => { %>
        <div class="col-6 col-sm-4 col-lg-6">
          <div class="card">
            <div class="card__cover">
              <img src="<%= movie.posterUrl || '/img/covers/default.jpg' %>" alt="<%= movie.title %>">
              <a href="/movies/<%= movie.tmdbId %>" class="card__play">
                <i class="icon ion-ios-play"></i>
              </a>
            </div>
            <div class="card__content">
              <h3 class="card__title"><a href="/movies/<%= movie.tmdbId %>"><%= movie.title %></a></h3>
              <span class="card__category">
                <% if (movie.genres && movie.genres.length > 0) { %>
                  <% movie.genres.forEach((genre, i) => { %>
                    <a href="/genres/<%= genre.toLowerCase() %>"><%= genre %></a><%= i < movie.genres.length - 1 ? ', ' : '' %>
                  <% }) %>
                <% } else { %>
                  <a href="#">Unknown</a>
                <% } %>
              </span>
              <span class="card__rate"><i class="icon ion-ios-star"></i><%= movie.rating || 'N/A' %></span>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p class="col-12">No related movies found.</p>
    <% } %>
  </div>
</div>
