<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/front/head.ejs') %>
<!-- end head -->

<body class="body">
	
	<!-- header -->
	<%- include('../partials/front/header.ejs') %>
	<!-- end header -->

	<!-- home -->
<%- include('../partials/front/sections/home.ejs') %>
	<!-- end home -->

	<!-- content -->
<%- include('../partials/front/sections/content.ejs') %>
	<!-- end content -->

	<!-- expected premiere -->
	<%- include('../partials/front/sections/expected-premiere.ejs') %>
	<!-- end expected premiere -->


	<!-- footer -->
	<%- include('../partials/front/footer.ejs') %>
	<!-- end footer -->

	<!-- JS -->
	<%- include('../partials/front/script.ejs') %>
</body>

</html>