<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- Head -->
<%- include('../partials/front/head.ejs') %>
<body>
<!--preloading-->
<%- include('../partials/front/preloader.ejs') %>
<!--end of preloading-->
<!--login form popup-->
<%- include('../partials/front/auth/login.ejs') %>
<!--end of login form popup-->
<!--signup form popup-->
<%- include('../partials/front/auth/signup.ejs') %>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<%- include('../partials/front/header.ejs') %>
<!-- END | Header -->

<!--BEGIN | Slider Movie Items -->
<%- include('../partials/front/sections/slider-movie-items.ejs') %>
<!-- END | Slider Movie Items -->

<!--BEGIN |  Movie Items -->
<%- include('../partials/front/sections/movie-items.ejs') %>
<!-- END |  Movie Items -->

<!--BEGIN |  Trailers -->
<%- include('../partials/front/sections/trailers.ejs') %>
<!--END |  Trailers -->

<!-- latest new v1 section-->
<%- include('../partials/front/sections/latestnew.ejs') %>
<!--end of latest new v1 section-->

<!-- footer section-->
<%- include('../partials/front/footer.ejs') %>
<!-- end of footer section-->

<!-- script -->
<%- include('../partials/front/script.ejs') %>
</body>


</html>
