<footer class="footer py-3">
  <div class="container">
    <div class="row align-items-center justify-content-between">

      <!-- Contact Info -->
      <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0">
        <h6 class="footer__title mb-2">Contact</h6>
        <ul class="footer__list small mb-0">
          <li>
            <a href="tel:<%= settings?.contact?.phone || '+18002345678' %>">
              <%= settings?.contact?.phone || '+1 (800) 234-5678' %>
            </a>
          </li>
          <li>
            <a href="mailto:<%= settings?.contact?.email || 'support@flixify.com' %>">
              <%= settings?.contact?.email || 'support@flixify.com' %>
            </a>
          </li>
        </ul>
      </div>

      <!-- Social + Copyright -->
      <div class="col-12 col-md-6 col-lg-4 text-md-end">
        <ul class="footer__social mb-2 d-flex justify-content-md-end justify-content-start gap-2">
          <li class="facebook">
            <a href="<%= settings?.social?.facebook || '#' %>">
              <i class="icon ion-logo-facebook"></i>
            </a>
          </li>
          <li class="instagram">
            <a href="<%= settings?.social?.instagram || '#' %>">
              <i class="icon ion-logo-instagram"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="<%= settings?.social?.twitter || '#' %>">
              <i class="icon ion-logo-twitter"></i>
            </a>
          </li>
          <li class="vk">
            <a href="<%= settings?.social?.vk || '#' %>">
              <i class="icon ion-logo-vk"></i>
            </a>
          </li>
        </ul>
        <p class="footer__copyright small mb-0">
          <%= settings?.copyrightText || '© 2025 Flixify. All rights reserved.' %>
        </p>
      </div>

    </div>
  </div>
</footer>
